<% include partials/head %>
<% include partials/header %>

<div class="container">
	<div id="content">
		<h1>Welcome to NUSID</h1>
		<hr>
		<h4>NUSID - Node.JS User Space for Idle Developers v0.1 </h4>
		<p>This is a generic user space you can use in all you Node.JS apps, so that you can focus on the value-added of the product you are building</p>
	</div>
</div>
		
<% include partials/footer %>
<% include partials/end %>
		
