<% include partials/head %>
<% include partials/header %>

<div class="container">
	<div id="content">
		<h1>Welcome to NUSID</h1>
		<hr>
		<h3>Node.JS User Space for Idle Developers v0.1 - <a href="https://github.com/jrebecchi/NUSID">https://github.com/jrebecchi/NUSID</a></h3>
		<h3><code>Every website needs a user space, don't code another one !</code></h3>
		<p>NUSID is a generic user space to import in all your Node.JS apps. Use this one and focus on the value-added to the product you are building.</p>
		<p>Play with this generic user space demo : register, login, change the settings, delete your account!</p>
		<p>If you like it and want to use it for your own Node.js Project, download it on <a href="https://github.com/jrebecchi/NUSID">Github</a>!</p>
		<p><a href="#"><img class="img-responsive" src="https://nusidpublicresources-xeqnuojpin.now.sh/Nusid_Banner_Logo_800px.jpg" alt="NUSID Logo" /></a></p>

	</div>
</div>
		
<% include partials/footer %>
<% include partials/end %>
		
