<!DOCTYPE html>
<html ng-app="app" lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content=" Discover NUSID, the generic user space to import in all your Node.JS apps. It includes everything from the templates to the database management." />
		<title>NUSID - Node.JS User Space for Idle Developers</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="/js/app-browserified.js"></script>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>