<% include partials/head %>
<% include partials/header %>

<div class="container">
	<div id="content">
		<h1>This is a public page</h1>
		<hr>
		<p>You don't need to register to see this !</p>
	</div>
</div>
		
<% include partials/footer %>
<% include partials/end %>
		
