<% include partials/head %>
<% include partials/header %>

<div class="container">
	<div id="content">
		<h1>This is a private page</h1>
		<hr>
		<p>You need to be registered to see this !</p></h1>
	</div>
</div>
		
<% include partials/footer %>
<% include partials/end %>
		
